/* Main Styel */
html {
  scroll-behavior: smooth;
}

p, a {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

h2, h3, h4, h5, h6 {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
}

.responsive-img {
  width: 100%;
}

section {
  padding: 100px 0;
}

.section-header {
  text-align: center;
}

.section-header h2 {
  font-size: 70px;
}

.section-header p {
  width: 40%;
  font-size: 22px;
  margin: 0 auto;
}

/* Header Start */
header {
  background: -webkit-gradient(linear, left top, right top, from(rgba(154, 176, 212, 0.9)), to(rgba(217, 134, 180, 0.9)));
  background: linear-gradient(to right, rgba(154, 176, 212, 0.9), rgba(217, 134, 180, 0.9));
  position: relative;
  z-index: 1;
}

header .menu .navbar-light {
  padding-top: 20px;
}

header .menu .navbar-light .navbar-brand img {
  width: 100px;
}

header .menu .navbar-light .navbar-nav .active > .nav-link {
  color: #fff;
}

header .menu .navbar-light .navbar-nav .nav-link {
  color: #fc028be1;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}

header .menu .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

header .header-info {
  padding: 0px 0 80px 0;
}

header .header-info .left {
  padding: 90px 50px;
}

header .header-info .left p {
  font-size: 23px;
  margin-top: 25px;
}

/* Header-bottom Start */
.header-bottom .header-bottom-box {
  position: relative;
  z-index: 4;
}

.header-bottom .header-bottom-box .info {
  margin: 70px 50px;
}

.header-bottom .header-bottom-box .info h3 {
  font-size: 60px;
  color: #000;
}

.header-bottom .header-bottom-box .info h2 {
  font-size: 95px;
}

.header-bottom .header-bottom-box .info a {
  color: #000;
  text-decoration: none;
}

.header-bottom .header-bottom-box .info a:hover {
  color: #EF76AA;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}

.header-bottom .header-bottom-box .info hr {
  width: 20%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #EF76AA;
  margin: 5px 10px;
}

.header-bottom .header-bottom-box .info .second-hr {
  margin: 5px 0;
}

.header-bottom .header-bottom-box .header-bottom-form {
  z-index: 2;
  position: relative;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 12px 0px #EBEBEB;
          box-shadow: 0px 3px 12px 0px #EBEBEB;
  margin-top: -60px;
}

.header-bottom .header-bottom-box .header-bottom-form form label, .header-bottom .header-bottom-box .header-bottom-form form select, .header-bottom .header-bottom-box .header-bottom-form form input {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  margin-bottom: 20px;
}

.header-bottom .header-bottom-box .header-bottom-form form label {
  font-weight: bold;
  font-size: 20px;
}

.header-bottom .header-bottom-box .header-bottom-form form select, .header-bottom .header-bottom-box .header-bottom-form form input {
  padding: 10px;
  background-color: #EF76AA;
  color: #fff;
  border: transparent;
}

.header-bottom .header-bottom-box .header-bottom-form form select:focus, .header-bottom .header-bottom-box .header-bottom-form form input:focus {
  outline: none;
}

.header-bottom .header-bottom-box .header-bottom-form form input.button {
  margin-top: 20px;
}

.header-bottom .header-bottom-box .header-bottom-form form ::-webkit-input-placeholder {
  color: #fff;
}

.header-bottom .header-bottom-box .header-bottom-form form :-ms-input-placeholder {
  color: #fff;
}

.header-bottom .header-bottom-box .header-bottom-form form ::-ms-input-placeholder {
  color: #fff;
}

.header-bottom .header-bottom-box .header-bottom-form form ::placeholder {
  color: #fff;
}

.header-bottom .header-bottom-box .header-bottom-form form i {
  font-size: 30px;
  color: #EF76AA;
  margin-top: 10px;
}

.header-bottom .layer-img {
  position: relative;
  z-index: 3;
  margin-left: 280px;
  margin-top: -320px;
}

.header-bottom .layer-img img {
  width: 300px;
}

/* Main */
main {
  /* Happy Couple */
  /* Apps */
  /* Story */
  /* Review */
}

main .happyCouple {
  position: relative;
  z-index: 2;
  padding: 100px 0;
}

main .happyCouple .happyCouple-layer-img img {
  width: 300px;
  position: relative;
  z-index: 1;
  margin-bottom: -490px;
}

main .happyCouple .box {
  margin-top: 60px;
}

main .happyCouple .box .box-hover-1:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(217, 134, 180, 0.9)), to(rgba(217, 134, 180, 0.9))), url(../img/happuCouple/01.png);
  background: linear-gradient(to right, rgba(217, 134, 180, 0.9), rgba(217, 134, 180, 0.9)), url(../img/happuCouple/01.png);
}

main .happyCouple .box .box-hover-2:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(217, 134, 180, 0.9)), to(rgba(217, 134, 180, 0.9))), url(../img/happuCouple/02.png);
  background: linear-gradient(to right, rgba(217, 134, 180, 0.9), rgba(217, 134, 180, 0.9)), url(../img/happuCouple/02.png);
}

main .happyCouple .box .box-hover-4:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(217, 134, 180, 0.9)), to(rgba(217, 134, 180, 0.9))), url(../img/happuCouple/04.png);
  background: linear-gradient(to right, rgba(217, 134, 180, 0.9), rgba(217, 134, 180, 0.9)), url(../img/happuCouple/04.png);
}

main .happyCouple .box .box-info {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 3px 12px 0px #EBEBEB;
          box-shadow: 0px 3px 12px 0px #EBEBEB;
  padding: 60px 90px 60px 40px;
  background-color: #fff;
}

main .happyCouple .box .box-info:hover {
  background-position: center;
  color: #fff;
  z-index: 3;
  padding: 60px;
}

main .happyCouple .box .box-info:hover a {
  color: #fff;
}

main .happyCouple .box .box-info h4 {
  font-weight: 700;
  margin-bottom: 0px;
}

main .happyCouple .box .box-info span {
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

main .happyCouple .box .box-info p {
  margin-top: 20px;
}

main .happyCouple .box .box-info a {
  text-decoration: none;
}

main .happyCouple .box .box-img {
  position: relative;
  z-index: 2;
  margin-left: -120px;
  margin-top: 50px;
  background: #EF76AA;
  padding: 5px;
}

main .happyCouple .box-3 {
  margin-top: 100px;
}

main .happyCouple .box-3 .box-info {
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 0px 3px 12px 0px #EBEBEB;
          box-shadow: 0px 3px 12px 0px #EBEBEB;
  padding: 60px;
  margin-left: -120px;
  margin-top: 100px;
  background-color: #fff;
}

main .happyCouple .box-3 .box-info:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(217, 134, 180, 0.9)), to(rgba(217, 134, 180, 0.9))), url(../img/happuCouple/03.png);
  background: linear-gradient(to right, rgba(217, 134, 180, 0.9), rgba(217, 134, 180, 0.9)), url(../img/happuCouple/03.png);
  color: #fff;
}

main .happyCouple .box-3 .box-info:hover a {
  color: #fff;
}

main .happyCouple .box-3 .box-info h4 {
  font-weight: 700;
  margin-bottom: 0px;
}

main .happyCouple .box-3 .box-info span {
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

main .happyCouple .box-3 .box-info p {
  margin-top: 20px;
}

main .happyCouple .box-3 .box-info a {
  text-decoration: none;
}

main .happyCouple .box-3 .box-img {
  position: relative;
  z-index: 2;
  background: #EF76AA;
  padding: 5px;
}

main .apps {
  background: -webkit-gradient(linear, left top, right top, from(rgba(217, 134, 180, 0.8)), to(rgba(217, 134, 180, 0.8))), url(../img/bg/bg.png);
  background: linear-gradient(to right, rgba(217, 134, 180, 0.8), rgba(217, 134, 180, 0.8)), url(../img/bg/bg.png);
  color: #fff;
}

main .apps .apps-img {
  margin-top: 40px;
}

main .apps .apps-img img {
  width: 200px;
}

main .story {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url(../img/bg/bg-01.png);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/bg/bg-01.png);
  background-position: top;
  background-size: cover;
  position: relative;
  z-index: 2;
}

main .story .story-layer-img img {
  float: right;
  position: relative;
  z-index: 1;
  margin-top: -170px;
}

main .story .section-header p {
  width: 100%;
}

main .story .story-box {
  margin-top: 60px;
}

main .story .story-box .story-img {
  border: 3px solid #EF76AA;
}

main .story .story-box .story-img img {
  border: 3px solid #EF76AA;
  margin-left: 35px;
  margin-top: 35px;
  margin-bottom: -35px;
}

main .story .story-box .story-info {
  margin: 60px;
}

main .story .story-box .story-info h4 {
  font-weight: 700;
  font-size: 35px;
}

main .story .story-box .story-info span {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}

main .story .story-box .story-info p {
  margin-top: 20px;
  font-size: 23px;
  text-align: justify;
}

main .review {
  background: -webkit-gradient(linear, left top, right top, from(rgba(195, 228, 244, 0.9)), to(rgba(195, 228, 244, 0.9))), url(../img/bg/bg-02.png);
  background: linear-gradient(to right, rgba(195, 228, 244, 0.9), rgba(195, 228, 244, 0.9)), url(../img/bg/bg-02.png);
  background-size: cover;
}

main .review .review-slide {
  text-align: center;
}

main .review .review-slide h2 {
  font-size: 70px;
}

main .review .review-slide .slider-iteam {
  margin-top: 40px;
}

main .review .review-slide .slider-iteam .slide-img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
}

main .review .review-slide .slider-iteam p {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

/* Footer*/
footer {
  padding: 50px 0;
  text-align: center;
}

footer .social-link {
  margin-top: 20px;
}

footer .social-link ul {
  margin: 0;
  padding: 0;
}

footer .social-link ul li {
  display: inline-block;
  margin: 10px;
}

footer .social-link ul li a {
  color: #fff;
}

footer .social-link ul li a i::before {
  background-color: #EF76AA;
  width: 40px;
  height: 40px;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .social-link ul li a:hover i::before {
  background: #223244;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
/*# sourceMappingURL=style.css.map */