// font-family: 'Dancing Script', cursive;
// font-family: 'Josefin Sans', sans-serif;
$nav-color: #fc028be1;
$bg-color: #EF76AA;
$text-color: #223244;
$secondText-color: #000;
$hover-color: #fff;

html {
    scroll-behavior: smooth;
}

p,a {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

h2,h3,h4,h5,h6 {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.responsive-img {
    width: 100%;
}

section {
    padding: 100px 0;
}

.section-header {
    text-align: center;

    h2 {
        font-size: 70px;
    }

    p {
        width: 40%;
        font-size: 22px;
        margin: 0 auto;
    }
}

header {
    background: linear-gradient(to right, rgba(154,176,212, 0.9), rgba(217, 134, 180, 0.9));
    position: relative;
    z-index: 1;

    .menu {
        .navbar-light {
            padding-top: 20px;
    
            .navbar-brand {
                img {
                    width: 100px;
                }
            }
    
            .navbar-nav {
                .active>.nav-link {
                    color: $hover-color;
                }
    
                .nav-link {
                    color: $nav-color;
                    font-size: 20px;
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 400;
                    text-transform: capitalize;
                    transition: 0.7s;
                    -webkit-transition: 0.7s;
                    -moz-transition: 0.7s;
                    -ms-transition: 0.7s;
                    -o-transition: 0.7s;
    
                    &:hover {
                        color: $hover-color;
                    }
                }
            }
        }
    }

    .header-info {
        padding: 0px 0 80px 0;

        .left {
            padding: 90px 50px;

            p {
                font-size: 23px;
                margin-top: 25px;
            }
        }
    }
}

.header-bottom {

    .info {
        margin: 70px 50px;

        h3 {
            font-size: 60px;
            color: $secondText-color;
        }

        h2 {
            font-size: 95px;
        }

        a {
            color: $secondText-color;
            text-decoration: none;
            
            &:hover {
                color: $bg-color;
                transition: 0.7s;
                -webkit-transition: 0.7s;
                -moz-transition: 0.7s;
                -ms-transition: 0.7s;
                -o-transition: 0.7s;
            }
        }

        hr {
            width: 20%;
            border-top: 2px solid $hover-color;
            border-bottom: 2px solid $bg-color;
            margin: 5px 10px;  
        }

        .second-hr {
            margin: 5px 0;
        }
    }

    .header-bottom-form {
        z-index: 2;
        position: relative;
        padding: 40px;
        background: $hover-color;
        box-shadow: 0px 3px 12px 0px #EBEBEB;
        margin-top: -60px;

        form {
            
            label,select,input {
                width: 100%;
                font-family: 'Josefin Sans', sans-serif;
                margin-bottom: 20px;
            }

            label {
                font-weight: bold;
                font-size: 20px;
                // color: $bg-color;
            }

            select,input {
                padding: 10px;
                background-color: $bg-color;
                color: $hover-color;
                border: transparent;

                &:focus {
                    outline: none;
                }
            }

            input.button {
                margin-top: 20px;
            }

            ::placeholder {
                color: $hover-color;
            }

            i {
                font-size: 30px;
                color: $bg-color;
                margin-top: 10px;
            }
        }
    }
}

.happyCouple {
    .box {
        margin-top: 60px;

        .box-hover-1 {
            &:hover {
                background: linear-gradient(to right, rgba(217, 134, 180, 0.9), rgba(217, 134, 180, 0.9)), url(../img/happuCouple/01.png);
            }
        }

        .box-hover-2 {
            &:hover {
                background: linear-gradient(to right, rgba(217, 134, 180, 0.9), rgba(217, 134, 180, 0.9)), url(../img/happuCouple/02.png);
            }
        }

        .box-hover-4 {
            &:hover {
                background: linear-gradient(to right, rgba(217, 134, 180, 0.9), rgba(217, 134, 180, 0.9)), url(../img/happuCouple/04.png);
            }
        }

        .box-info {
            position: relative;
            z-index: 1;
            box-shadow: 0px 3px 12px 0px #EBEBEB;
            padding: 60px 90px 60px 40px;
            background-color: $hover-color;

            &:hover {
                background-position: center;
                color: $hover-color;
                z-index: 3;
                padding: 60px;
                a {
                    color: $hover-color;
                }
            }

            h4 {
                font-weight: 700;
                margin-bottom: 0px;
            }

            span {
                font-size: 10px;
                font-family: 'Josefin Sans', sans-serif;
            }
            
            p {
                margin-top: 20px;
            }

            a {
                text-decoration: none;
            }
        }

        .box-img {
            position: relative;
            z-index: 2;
            margin-left: -120px;
            margin-top: 50px;
            background: $bg-color;
            padding: 5px;
        }
    }

    .box-3 {
        margin-top: 100px;

        .box-info {
            position: relative;
            z-index: 3;
            box-shadow: 0px 3px 12px 0px #EBEBEB;
            // padding: 60px 90px 60px 40px;
            padding: 60px;
            margin-left: -120px;
            margin-top: 100px;
            background-color: $hover-color;

            &:hover {
                background: linear-gradient(to right, rgba(217, 134, 180, 0.9), rgba(217, 134, 180, 0.9)), url(../img/happuCouple/03.png);
                color: $hover-color;

                a {
                    color: $hover-color;
                }
            }

            h4 {
                font-weight: 700;
                margin-bottom: 0px;
            }

            span {
                font-size: 10px;
                font-family: 'Josefin Sans', sans-serif;
            }
            
            p {
                margin-top: 20px;
            }

            a {
                text-decoration: none;
            }
        }

        .box-img {
            position: relative;
            z-index: 2;
            background: $bg-color;
            padding: 5px;
        }
    }
}

.apps {
    background: linear-gradient(to right, rgba(217, 134, 180, 0.8), rgba(217, 134, 180, 0.8)), url(../img/bg/bg.png);
    color: $hover-color;

    .apps-img {
        margin-top: 40px;

        img {
            width: 200px;
        }
    }
}

.story {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/bg/bg-01.png);
    background-position: top;
    background-size: cover;

    .section-header {
        p {
            width: 100%;
        }
    }

    .story-box {
        margin-top: 60px;
        
        .story-img {
            position: relative;
            z-index: 1;
            border: 3px solid $bg-color;

            img {
                position: relative;
                z-index: 2;
                border: 3px solid $bg-color;
                margin-left: 35px;
                margin-top: 35px;
                margin-bottom: -35px;
            }
        }

        .story-info {
            margin: 60px;

            h4 {
                font-weight: 700;
                font-size: 35px;
            }
    
            span {
                font-size: 18px;
                font-family: 'Josefin Sans', sans-serif;
            }
    
            p {
                margin-top: 20px;
                font-size: 23px;
                text-align: justify;
            }
        }
    }
}

.review {
    background: linear-gradient(to right, rgba(195,228,244, 0.9), rgba(195,228,244, 0.9)), url(../img/bg/bg-02.png);
    background-size: cover;

    .review-slide {
        text-align: center;

        h2 {
            font-size: 70px;
        }

        .slider-iteam {
            margin-top: 40px;

            .slide-img {
                width: 80px;
                height: 80px;
                margin: 0 auto;
                margin-bottom: 10px;
            }

            p {
                font-size: 20px;
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}


footer {
    padding: 50px 0;
    text-align: center;

    .social-link {
        margin-top: 20px;

        ul {
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin: 10px;

                a {
                    color: $hover-color;

                    i::before {
                        background-color: $bg-color;
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        font-size: 20px;
                        padding: 10px;
                        border-radius: 50%;
                        -webkit-transition: .5s;
                        transition: .5s;
                    }

                    &:hover i::before {
                        background: $text-color;
                        transform: rotate(360deg); 
                    } 
                }
            }
        }
    }
}